.player-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(135deg, #1f2937, #111827);
  color: #f9fafb;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1000px;
  margin: 0.25rem auto;
}

.player-poster {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 0.75rem;
}

.player-main {
  flex: 1;
  min-width: 0;
}

.player-title {
  margin: 0;
}

.player-meta {
  margin: 0.25rem 0 0;
  color: #d1d5db;
}

.player-progress {
  width: 100%;
  accent-color: #2b8fba;
  cursor: pointer;
}

.player-time-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #cbd5e1;
}

.player-controls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.75rem;
  flex-wrap: wrap;
}

.player-btn {
  border: none;
  border-radius: 999px;
  padding: 0.55rem 0.9rem;
  background: #374151;
  color: #f9fafb;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transform: translateY(-1px);
    background: #0762e2;
  }
}

.player-btn--primary {
  background: #38bdf8;
  color: #0f172a;
}

.player-select {
  border-radius: 999px;
  border: none;
  padding: 0.45rem 0.75rem;
  background: #e2e8f0;
  color: #111827;
}

/* ===========================
   Tablet
=========================== */

@media (max-width: 768px) {
  .player-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    max-width: 95%;
  }

  .player-poster {
    width: 150px;
    height: 150px;
  }

  .player-main {
    width: 100%;
  }

  .player-controls {
    justify-content: center;
  }
}

/* ===========================
   Mobile
=========================== */

@media (max-width: 480px) {
  .player-card {
    padding: 0.8rem;
    border-radius: 12px;
    gap: 0.8rem;
    margin: 2.5rem ;
  }

  .player-poster {
    width: 150px;
    height: 150px;
  }

  .player-title {
    font-size: 1rem;
  }

  .player-meta {
    font-size: 0.85rem;
  }

  .player-controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
  }

  .player-btn,
  .player-select {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  .player-btn--primary {
    grid-column: span 2;
  }

  .player-progress {
    margin: 0.5rem 0;
  }

  .player-time-row {
    font-size: 0.8rem;
  }
}